<!DOCTYPE html>
<html>
	<%- include('includes/head') %>
	<body class="bg-default">
		<div class="main-content">
		<!-- Navbar -->
		<%- include('partials/auth/navbar') %>
		<!-- Header -->
		<%- include('partials/auth/header') %>
		<!-- Page content -->
		<div class="container mt--8 pb-5">
			<div class="row justify-content-center">
			  <div class="col-lg-5 col-md-7">
				<div class="card bg-secondary shadow border-0">
				  <div class="card-header bg-transparent pb-5">
					<% if(!userSteam && !userDiscord) { %>
						<div class="text-muted text-center mt-2 mb-3"><small>Войди с помощью Discord</small></div>
					<% } else { %>
						<div class="text-muted text-center mt-2 mb-3"><small>Все готово</small></div>
					<% } %>
					<div class="btn-wrapper text-center">
						<% if(userSteam && userDiscord) { %>
							<a href="/selector" class="btn btn-neutral btn-icon">
							<span class="btn-inner--icon"><i class="ni ni-planet"></i></span>
							<span class="btn-inner--text">Панель</span>
							</a>
						<% } else { %>
							<a href="/login" class="btn btn-neutral btn-icon">
							<span class="btn-inner--icon"><i class="ni ni-circle-08"></i></span>
							<span class="btn-inner--text">Войти</span>
							</a>
						<% } %>
					  
					</div>
				  </div>
				</div>
			  </div>
			</div>
		  </div>
		</div>
		<!-- Footer -->
		<%- include('./partials/auth/footer') %>
		<!-- Include scripts -->
	</body>
</html>
